body {
    background-image: url("AD OL.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.top-navbar {
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 0.9) 0%, rgba(105, 9, 121, 0.9) 20%, rgba(82, 54, 150, 0) 40%, rgba(58, 101, 181, 0) 60%, rgba(36, 143, 209, 0.9) 80%, rgba(0, 212, 255, 0.9) 100%); */
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.player-name-element {
    margin-top: 8px;
    font-size: 59px;
}

.pilot-select-element {
    font-style: italic;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    width: 278px;
    margin-top: 1px;
}

.pilot-option-element {
    background-color: black;
}

.hp-elements {
    font-weight: bold;
    font-size: 26px;
}

.hp-input {
    color: white;
    background-color: transparent;
    border: none;
    width: 45px;
    text-align: center;
}

#player-1-hp-label {
    padding-left: 20px;
}

.credits-element {
    font-size: 10px;
}

.pilot-card-img {
    height: 250px;
    margin-bottom: 20px;
    opacity: 0.95;
}

#settingsNavbar {
    margin-bottom: 280px;
}

#settingsButton {
    opacity: 0.9;
    margin-bottom: 150px;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

#settingsModal {
    font-family: arial;
}

#battleCardNavbar {
    bottom: 300px;
}

.battle-card-option-element {
    color: black;
}

.battle-card-img {
    height: 400px;
    opacity: 0.95;
}

.battle-card-label-img {
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.95;
}