body {
    /*
    background-image: url("AD OL.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */

    font-family: "Bebas Neue", sans-serif;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    overflow-y: hidden;
}

.top-navbar {
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 0.9) 0%, rgba(105, 9, 121, 0.9) 20%, rgba(82, 54, 150, 0) 40%, rgba(58, 101, 181, 0) 60%, rgba(36, 143, 209, 0.9) 80%, rgba(0, 212, 255, 0.9) 100%); */
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.hp-input {
    font-size: 40px;
    max-width: 200px;
}

.card-body {
    padding-top:2rem;
    padding-bottom:2rem;
}
