body {
    font-family: "Bebas Neue", sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    overflow-y: hidden;
}

#overlayBackgroundImage {
    position: absolute;
    opacity: 0.95;
}

.top-navbar {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1919px) {
    .pilot-label-element {
        font-size: 30px;
    }

    .player-name-element {
        font-size: 59px;
    }

    .hp-elements {
        font-size: 26px;
    }
}

@media (min-width: 2559px) {
    .pilot-label-element {
        font-size: 42px;
    }

    .player-name-element {
        font-size: 75px;
    }

    .hp-elements {
        font-size: 38px;
    }
}

.player-name-element {
    margin-top: 8px;
}

.pilot-label-element {
    font-style: italic;
    color: white;
    background-color: transparent;
    border: none;
    width: 278px;
    margin-top: 1px;
}

.hp-elements {
    font-weight: bold;
}






.pilot-card-img {
    height: 250px;
    margin-bottom: 20px;
    opacity: 0.95;
}

#settingsNavbar {
    margin-bottom: 280px;
}

#battleCardNavbar {
    bottom: 300px;
}


#cardImage1 {
    background-color: transparent;
    width: 100%;
    object-fit: contain;
    max-height: 700px;
}

#cardImage2 {
    background-color: transparent;
    width: 100%;
    object-fit: contain;
    max-height: 700px;
}

.modal-xl {
    max-width: 1000px;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.half-size-modal {
    max-width: 600px;
    max-height: 900px;
}

.modal-left {
    margin-left: 16px;
}

.modal-right {
    margin-right: 16px;
}